body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("assets/ba.jpg");
  color: rgb(245, 202, 202);
}

.imgBottle {
 height: 100%;
 width: 50%;
 object-fit: cover;
}

.jumbAreaOne {
  background-color: #3c191d;
}

.jumbAreaTwo {
  background-color: #60282e;
}
.jumbAreaThree {
  background-color: #843640;
}

.kashuan {
  font-family: 'Kaushan Script', cursive;
}


